{% extends "blogApp/base.html" %}

{% load static %}


{% block titulo %}

{% endblock %}

{% block subtitulo %}

{% endblock %}


{% block contenido%}
<h2>Hola Soy, Luciano Di Naso</h1>
<div><span class="subheading">Contador Público (UNR)  </span></div>
<div><span class="subheading">Especialista en Costos y gestion empresarial (UNR)</span></div>
<hr class="my-4" />

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-20 col-lg-18 col-xl-17">
                        <p> Llevo más de 15 años trabajando en organizaciones, 
                            sin fines de lucros, comerciales, siempre en el ambito 
                            contable y en el apoyo a la gestión empresarial como 
                            analista de información economica.
                        </p>
                        <p>
                            Durante la pandemia, me converti en emprendedor 
                            creando una tienda online "Tiendas Nube", con la 
                            premisa de no utilizar capital propio, y con stock 
                            minimo. Con la cual logre ser Mercado lider platinun,
                            concretando más de 800 ventas en el periodo de 4 meses.
                            Este proyecto lo pude concretar en tan poco tiempo,
                            utilizando la experiencias de muchisimos años.
                        </p>
                        <p>
                            Y mi actual desafio es convertirme en programador,
                            con una orientación a business intelligence.
                            
                        </p>

                        <!-- Divider-->
                        <hr class="my-4" />
                       
                        <h4>Datos de contacto: </h4>
                        <p>Mail: luciano.dinaso@gmail.com </p>
                        <a link href=" https://www.linkedin.com/in/luciano-di-naso-1910b754">Linkedin: Luciano Di Naso</p>

                        </div>
                </div>
            </div>
        </main>

{% endblock%}