{% extends "blogApp/base.html" %}

{% load static %}


{% block titulo %}

{% endblock %}

{% block subtitulo %}

{% endblock %}


{% block contenido%}
<h2>Hola Soy, Luciano Di Naso</h2>
    <div><span class="subheading">Contador Público (UNR)  </span></div>
    <div><span class="subheading">Especialista en Costos y gestion empresarial (UNR)</span></div>
    <hr class="my-4" />
    
            <!-- Main Content-->
            <main class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-20 col-lg-18 col-xl-17">
                            <p> Llevo más de 15 años trabajando en organizaciones, 
                                sin fines de lucros, comerciales, siempre en el ambito 
                                contable y en el apoyo a la gestión empresarial como 
                                analista de información economica.
                            </p>
                           
                            <p>
                                Y mi actual desafio es convertirme en programador,
                                con una fuerte orientación a business intelligence.
                                
                            </p>
                        </div>
                    </div>
                </div>
            </main>
    
                            <!-- Divider-->
                            <hr class="my-4" />


    
    <h2 class="subheading">SOBRE EL PROYECTO  </h2>
  
    <div><span class="subheading">Blog sobre Medicina </span></div>
  



<hr class="my-4" />

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-2 px-lg-3">
                <div class="row gx-2 gx-lg-3 justify-content-center">
                    <div class="col-md-20 col-lg-18 col-xl-17">
                        
                        <p>
                            Es proyecto lo lleve adelante para el desafio final
                            del curso de Python, realizado en Coderhouse.
                        </p>

                        <p>
                            Se trata de un blog de belleza facial, donde los usuarios
                            puede ver las diferentes publicaciones, si se registran
                            ademas pueden completar un perfil y enviar comunicaciones
                            a otros usuarios.
                            Los miembros del Staff, poseen usuarios que les permite
                            crear nuevos posteos y modificar los existentes.
                        </p>

                        <p>
                            Ademas de ser un trabajo práctico, es  un prototipo, 
                            para ser ofrecido a un proyecto real.

                        </p>
                    </div>
                </div>
            </div>
        </main>

                        <!-- Divider-->
                        <hr class="my-4" />
                        
                        <h4>Datos de contacto: </h4>
                        <p>Mail: luciano.dinaso@gmail.com </p>
                        <a link href=" https://www.linkedin.com/in/luciano-di-naso-1910b754">Linkedin: Luciano Di Naso</p>

                    </div>
                </div>
            </div>
        </main>

{% endblock%}
