{% extends "blogApp/base.html" %}

{% load static %}


{% block titulo %}


{% endblock %}

{% block subtitulo %}


{% endblock %}


{% block contenido%}

<h1 style="color:#FF0000"> {{mensaje}} </h1>

<!-- Divider-->
<hr class="my-4" />

<h1>Perfil: {{user.username}}</h1>

<!-- Divider-->
<hr class="my-4" />


<h2> Editando Posteo: {{ posteo.titulo }}  -{{ posteo.id }}</h2> 


<form action="{% url 'editarPosteo' 1 %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>

        {{ form.as_table }}

    </table>


    <input type="submit" value="Modificar posteo">

</form>


{% endblock%}