{% extends "blogApp/base.html" %}

{% load static %}


{% block titulo %}
<!-- <h1>TU BLOG </h1> -->
{% endblock %}

{% block subtitulo %}
<!-- <span class="subheading">sobre belleza facial</span> -->
{% endblock %}


{% block contenido%}
<h1> TU BLOG  </h1> <span class="subheading">sobre belleza facial</span>

<!-- Divider-->
<hr class="my-4" />

<!-- Post preview MICROBLADING-->
<div class="post-preview">
    
        <h2 class="post-title">Descubre el microblading</h2>
        <p> El microblading vino a revolucionar el concepto en cejas, todo lo que tenes que saber es este sitio.</p>
    
    <p class="post-meta">
        Creado por
        Luis Boss
        el 9 de Enero de 2023
    </p>
    <a href="{% url 'microblading' %}">Leer más...</a>
</div>

<!-- Divider-->
<hr class="my-4" />

<!-- Post preview PERFILADO-->
<div class="post-preview">
    
    <h2 class="post-title"> Cual es el mejor perfilado de Cejas?</h2>
    <p> El perfiladod e cejas, lleva tiempo entre nosotros. Le vamos a presentar las mejores técnicas según tu fisonomia facial.</p>

<p class="post-meta">
    Creado por
    Marisa Perciavale
    el 31 de Diciembre de 2022
</p>
<a href="{% url 'perfilado' %}">Leer más...</a>
</div>

<!-- Divider-->
<hr class="my-4" />
<!-- Post preview-->
<div class="post-preview">
    <a href="post.html">
        <h2 class="post-title">Science has not yet mastered prophecy</h2>
        <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
    </a>
    <p class="post-meta">
        Posted by
        <a href="#!">Start Bootstrap</a>
        on August 24, 2022
    </p>
</div>
<!-- Divider-->
<hr class="my-4" />
<!-- Post preview-->
<div class="post-preview">
    <a href="post.html">
        <h2 class="post-title">Failure is not an option</h2>
        <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
    </a>
    <p class="post-meta">
        Posted by
        <a href="#!">Start Bootstrap</a>
        on July 8, 2022
    </p>
</div>
<!-- Divider-->
<hr class="my-4" />
<!-- Pager-->
<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
</div>
</div>
</div>
{% endblock%}