{% extends "blogApp/base.html" %}

{% load static %}


{% block titulo %}
<h2> {{mensaje}} </h2>
<!-- <h1>TU BLOG </h1> -->
{% endblock %}

{% block subtitulo %}
<!-- <span class="subheading">sobre belleza facial</span> -->
{% endblock %}


{% block contenido%}
<h1> BLOG SOBRE BELLEZA FACIAL</h1> 
<span class="subheading">Los mejores posteos estan en "La Vie Est Bella"</span>

<!-- Divider-->
<hr class="my-4" />

<!-- Post preview MICROBLADING-->
<div class="post-preview">
    
        <h2 class="post-title">Descubre el microblading</h2>
        <p> El microblading vino a revolucionar el concepto en cejas, todo lo que tenes que saber esta este sitio.</p>
    
    <p class="post-meta">
        Creado por: Maria Laudrup, el 1 de enero de 2023
        
    </p>
    <div class="d-flex justify-content-end mb-4"><a class="btn btn-link" href="{% url 'microblading' %}">Leer más →</a></div>
</div>

<!-- Divider-->
<hr class="my-4" />

<!-- Post preview PERFILADO-->
<div class="post-preview">
    
    <h2 class="post-title"> Cual es el mejor perfilado de Cejas?</h2>
    <p> El perfilado de cejas, lleva tiempo entre nosotros. Le vamos a presentar las mejores técnicas según tu fisonomia facial.</p>

<p class="post-meta">
    Creado por: Nadia Matheus, el 2 de enero de 2023
</p>

<div class="d-flex justify-content-end mb-4"><a class="btn btn-link" href="{% url 'perfilado' %}">Leer más →</a></div>

</div>

<!-- Divider-->
<hr class="my-4" />
<!-- Post preview LABIOS-->
<div class="post-preview">
    
    <h2 class="post-title"> Labios: Bótox® o ácido hialurónico.</h2>
    <p> Hoy en día son de los tratamientos de medicina estética favoritos de millones de personas que buscan lucir jóvenes. Entonces, debes tener claro que el Bótox® y el ácido hialurónico, no es lo mismo.</p>

<p class="post-meta">
    Creado por: Mauricio Suker, el 3 de enero de 2023
</p>

<div class="d-flex justify-content-end mb-4"><a class="btn btn-link" href="{% url 'labios' %}">Leer más →</a></div>
</div>

<!-- Divider-->
<hr class="my-4" />


<a class="btn btn-outline-primary" href="{% url 'listaPosteos' %}">Listado de posteos</a>
<!-- Pager-->

</div>
</div>
</div>
{% endblock%}