{% extends "blogApp/base.html" %}

{% load static %}


{% block titulo %}


{% endblock %}

{% block subtitulo %}


        

{% endblock %}


{% block contenido%}


<h1 style="color:#FF0000"> {{mensaje}} </h1>

<!-- Divider-->
<hr class="my-4" />

<h1>TUS DATOS</h1>

<p>Usuario: {{user.username}}</p>

<img src="{{ avatar }}"  width="100" height="100" alt="">

<a button type="button" class="btn btn-light" href="{% url 'agregarAvatar' %}">Editar avatar</button></a>

<p>Nombre y Apellido: {{user.first_name}}  {{user.last_name}}</p>

<p>Email: {{user.email}}</p>

<p>Ocupacion: {{perfil.ocupacion}}</p>

<p>Tema de interes: {{perfil.intereses}}</p>

<!-- Divider-->
<hr class="my-4" />
    


<form action="{% url 'editarPerfil' %}" method="POST"> {% csrf_token %}
    
    
    <a button type="button" class="btn btn-light" href="{% url 'editarPerfil' %}">Actualizar perfil</button></a>

</form>

{% endblock%}