{% extends "blogApp/base.html" %}

{% load static %}


{% block titulo %}
<!-- <h1>TU BLOG </h1> -->
{% endblock %}

{% block subtitulo %}
<!-- <span class="subheading">sobre belleza facial</span> -->
{% endblock %}


{% block contenido%}
{{mensaje}}
<h1> TODOS LOS POSTEOS</h1> 
<span class="subheading">Los mejores posteos estan en "La Vie Est Bella"</span>

<!-- Divider-->
<hr class="my-4" />

<!-- Tabla BD-->

<table class="table table-bordered" >
    <thead>
        <th scope="col">Titulo</th>
        <th scope="col">Sub-titulo</th>
        <th scope="col">Autor/a</th>
        <th scope="col">Autor/a</th>
        <th scope="col">Editar Posteo</th>
        <th scope="col">Eliminar Posteo</th>

        
    </thead>
    <tbody>
        {% for posteo in posteos %}
            <tr>
                <td>{{posteo.titulo}}</td>
                <td>{{posteo.subtitulo}}</td>
                <td>{{posteo.nombreAutor}}</td>
                <td>{{posteo.apellidoAutor}}</td>
                <td><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'editarPosteo' posteo.id %}">Editar posteo</a></td>
                <td><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'eliminarPosteo' posteo.id %}">Eliminar posteo</a></td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock%}