{% extends "blogApp/base.html" %}

{% load static %}


{% block titulo %}
<h3>MICROBLADING</h3>

{% endblock %}

{% block subtitulo %}
<!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->

{% endblock %}


{% block contenido%}

        <!-- Post Content-->
        <H2>POSTESO SOBRE: MICROBLADING</H1>
        
        <div>
    
        <header class="masthead" style="background-image: url('https://i.pinimg.com/originals/82/9c/51/829c51823fb6fa61a5c18b1915d84793.jpg')">
        

        </div>
            
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <H2>¿Qué es Microblading?</H2>
                        <P>Es una técnica de maquillaje semi permanente que se realiza manualmente depositando pigmento en la capa superficial de la piel, simulando pelo por pelo y creando un hiperrealismo en tus cejas. 
                        <P> 

                            Esta técnica es super natural y hoy en día es buscada por muchísimas personas que sufren de enfermedades como alopecia, que tienen vello por partes en sus cejas  o que simplemente quieren definirlas dándole un toque de perfección sin perder la naturalidad.</P>
                         <p class="post-meta">
                             Creado por Luis Boss
                             el 9 de Enero de 2023
                         </p>
                    </div>
                </div>
            </div>
        </article>
{% endblock%}